# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-eHXEDqEeVYBVWr4m
OWNER_NUMBER=2348131488992
WORKTYPE=public
PREFIX=[.!?]
TIMEZONE=Africa/Lagos
OWNER_NAME=Olaitan Ayobami
BOT_NAME=Kord
RENDER_API_KEY=rnd_qAcvuLC295yS4zgysyRzl92SLOVb