# Required, remove render api key if you're not using render

SESSION_ID=mmoGeSDpn75UKPfj
OWNER_NUMBER=2348131488992
WORKTYPE=private
PREFIX=[.!?]
TIMEZONE=Africa/Lagos
OWNER_NAME=Olaitan Ayobami
BOT_NAME=Kord
RENDER_API_KEY=rnd_nBM9q0VTRR6X7PBCVEMYFpvGuqOa